<div class="main">
  <h1>Liste de course</h1>
  <div>
    <ul>
      <li *ngFor="let item of items">{{item.description}} <button (click)="removeItem(item.id)">Delete</button></li>
    </ul>
  </div>
  <div>
    <label for="addItemInput">What would you like to do today?</label>

    <input
      #newItem
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      class="lg-text-input"
      id="addItemInput"
      placeholder="add an item"/>

    <button (click)="addItem(newItem.value)" class="btn-primary">Add</button>
  </div>
</div>
<div *ngFor="let contact of contacts">{{contact.name}}</div>
<div><button (click)="loadContactPwa()">Load contacts</button></div>
